body {
  margin: auto;
  max-width: 515px;
  background-image: url("background.png");
  background-size: cover; /* make it fill the screen */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Patrick Hand";
  font-size: 60px;
  font-weight: 400;
  line-height: 96%; /* 57.6px */
  letter-spacing: -0.66px;
  width: 243px;
  height: 118px;
  margin: 45px auto 34px;
  color: #552e32;
}
.text {
  width: 415px;
  height: 420px;
  border-radius: 55px;
  background: #f0d8dc;
  margin: auto;
  margin-bottom: 34px;
}
.text p {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: -0.242px;
  color: #552e32;
  text-align: center;
  width: 373px;
  height: 383px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.button {
  border-radius: 55px;
  background: #f0d8dc;
  width: 415px;
  height: 118px;
  margin: auto;
}
.button p {
  color: #552e32;
  text-align: center;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 33px */
  letter-spacing: -0.242px;
  display: flex;
  width: 413px;
  height: 111px;
  flex-direction: column;
  justify-content: center;
}
a {
  text-decoration: none;
}
a :visited {
  text-decoration: none;
}
